In [2]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
csv_file_path = "C:/Users/krish/Downloads/bc_trip259172515_230215.csv"

df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
print(df.head())

   EVENT_NO_TRIP  EVENT_NO_STOP            OPD_DATE  VEHICLE_ID  METERS  \
0      259172515      259172517  15FEB2023:00:00:00        4223      40
1      259172515      259172517  15FEB2023:00:00:00        4223      48
2      259172515      259172517  15FEB2023:00:00:00        4223      57
3      259172515      259172517  15FEB2023:00:00:00        4223      73
4      259172515      259172517  15FEB2023:00:00:00        4223     112

   ACT_TIME  GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES  GPS_HDOP
0     20469    -122.648137     45.493082              12       0.7
1     20474    -122.648240     45.493070              12       0.8
2     20479    -122.648352     45.493123              12       0.8
3     20484    -122.648385     45.493262              12       0.7
4     20489    -122.648347     45.493582              12       0.8

In [3]:
import pandas as pd

columns_to_use = ['column1', 'column2', 'column3']  # replace with actual column names you want to keep

csv_file_path = "C:/Users/krish/Downloads/bc_trip259172515_230215.csv"

df = pd.read_csv(csv_file_path)

df = df.drop(['EVENT_NO_STOP', 'GPS_SATELLITES', 'GPS_HDOP'], axis=1)

# Display the first few rows of the DataFrame
print(df.head())

   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE
0    -122.648137     45.493082
1    -122.648240     45.493070
2    -122.648352     45.493123
3    -122.648385     45.493262
4    -122.648347     45.493582

In [7]:
import pandas as pd

columns_to_use = ['EVENT_NO_TRIP', 'OPD_DATE', 'VEHICLE_ID', 'METERS', 'ACT_TIME', 'GPS_LONGITUDE', 'GPS_LATITUDE']  

csv_file_path = "C:/Users/krish/Downloads/bc_trip259172515_230215.csv"

df = pd.read_csv(csv_file_path,usecols = columns_to_use)

# Display the first few rows of the DataFrame
print(df.head())

   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE
0    -122.648137     45.493082
1    -122.648240     45.493070
2    -122.648352     45.493123
3    -122.648385     45.493262
4    -122.648347     45.493582

In [19]:
from datetime import datetime, timedelta
import pandas as pd

columns_to_use = ['EVENT_NO_TRIP', 'OPD_DATE', 'VEHICLE_ID', 'METERS', 'ACT_TIME', 'GPS_LONGITUDE', 'GPS_LATITUDE']  

csv_file_path = "C:/Users/krish/Downloads/bc_trip259172515_230215.csv"

df = pd.read_csv(csv_file_path,usecols = columns_to_use)

# Function to convert OPD_DATE and ACT_TIME to TIMESTAMP
def create_timestamp(row):
    date_part = datetime.strptime(row['OPD_DATE'], '%d%b%Y:%H:%M:%S')  # Converts the date string to datetime
    time_delta = timedelta(seconds=row['ACT_TIME'])  # Creates a timedelta from seconds
    return date_part + time_delta  # Adds timedelta to datetime to get the full timestamp

# Apply the function to each row
df['TIMESTAMP'] = df.apply(create_timestamp, axis=1)

# Display the first few rows to verify the new TIMESTAMP column
print(df.head())

   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE           TIMESTAMP
0    -122.648137     45.493082 2023-02-15 05:41:09
1    -122.648240     45.493070 2023-02-15 05:41:14
2    -122.648352     45.493123 2023-02-15 05:41:19
3    -122.648385     45.493262 2023-02-15 05:41:24
4    -122.648347     45.493582 2023-02-15 05:41:29

In [21]:
df = df.drop(['OPD_DATE', 'ACT_TIME'], axis=1)             
print(df.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP
0 2023-02-15 05:41:09
1 2023-02-15 05:41:14
2 2023-02-15 05:41:19
3 2023-02-15 05:41:24
4 2023-02-15 05:41:29

In [22]:
import numpy as np

# Calculate the difference in METERS and TIMESTAMP between each row and its preceding row
df['dMETERS'] = df['METERS'].diff()
df['dTIMESTAMP'] = df['TIMESTAMP'].diff().dt.total_seconds()  # Convert the timedelta to total seconds

# Calculate SPEED using a lambda function: SPEED = dMETERS / dTIMESTAMP
df['SPEED'] = df.apply(lambda row: row['dMETERS'] / row['dTIMESTAMP'] if row['dTIMESTAMP'] > 0 else np.nan, axis=1)

# Drop the temporary difference columns as they are no longer needed
df = df.drop(['dMETERS', 'dTIMESTAMP'], axis=1)

# Calculate and print the descriptive statistics for SPEED
speed_stats = df['SPEED'].describe()
print(speed_stats)

# Display the first few rows to verify the SPEED column
print(df.head())

count    160.000000
mean       7.227206
std        4.420604
min        0.000000
25%        3.800000
50%        6.400000
75%       10.850000
max       17.400000
Name: SPEED, dtype: float64
   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP  SPEED
0 2023-02-15 05:41:09    NaN
1 2023-02-15 05:41:14    1.6
2 2023-02-15 05:41:19    1.8
3 2023-02-15 05:41:24    3.2
4 2023-02-15 05:41:29    7.8

In [23]:
df.describe()

,EVENT_NO_TRIP,VEHICLE_ID,METERS,GPS_LONGITUDE,GPS_LATITUDE,TIMESTAMP,SPEED
count,161.0,161.0,161.000000,161.000000,161.000000,161,160.000000
mean,259172515.0,4223.0,3589.186335,-122.666642,45.514643,2023-02-15 05:48:21.670807552,7.227206
min,259172515.0,4223.0,40.000000,-122.677585,45.493070,2023-02-15 05:41:09,0.000000
25%,259172515.0,4223.0,1933.000000,-122.675990,45.503155,2023-02-15 05:44:34,3.800000
50%,259172515.0,4223.0,4165.000000,-122.669730,45.517902,2023-02-15 05:47:54,6.400000
75%,259172515.0,4223.0,5208.000000,-122.660792,45.523190,2023-02-15 05:51:34,10.850000
max,259172515.0,4223.0,5918.000000,-122.647997,45.528065,2023-02-15 05:57:19,17.400000
std,0.0,0.0,1810.681478,0.010093,0.010566,NaN,4.420604

In [24]:
df["SPEED"].describe()

count    160.000000
mean       7.227206
std        4.420604
min        0.000000
25%        3.800000
50%        6.400000
75%       10.850000
max       17.400000
Name: SPEED, dtype: float64